POSTGRES_USER=local
POSTGRES_PASSWORD=local
POSTGRES_DB=local
POSTGRES_PORT=5432

POSTGRES_DSN="postgres://local:local@db:5432/local"

CLIENT_BASE_URL="http://another-service:8000/api/v1"

LOGURU_LEVEL=DEBUG
